@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  list-style-type: none;
}

ul, li {
  list-style: none;
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input,
button,
a {
  background: none;
  color: #111;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
}
@media (max-width: 920px) {
  .container {
    font-size: 0.8em;
  }
}
@media (max-width: 830px) {
  .container {
    font-size: 0.6em;
  }
}

@media (max-width: 620px) {
  .header__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto)[3];
    grid-template-rows: repeat(3, auto);
  }
}
.header__top {
  background-color: #eceef4;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
}
.header__top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top-left {
  padding: 10px 0;
}
.header__top-left-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__top-left-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 20px;
  margin: 0 10px 0 0;
  background-color: #fff;
  border-radius: 5px;
  font-family: "Open Sans";
  font-size: 0.85em;
  font-weight: 700;
  color: #6d6e71;
}
.header__top-left-link:last-child {
  margin: 0;
}
.header__top-left-link:hover {
  background-color: #90cae1;
  cursor: pointer;
}
@media (max-width: 490px) {
  .header__top-left-link {
    padding: 7px 10px;
  }
}
@media (max-width: 385px) {
  .header__top-left-link {
    padding: 3px 5px;
  }
}
.header__top-left-link-logo {
  margin: 0 5px 0 0;
}
.header__top-right {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (max-width: 490px) {
  .header__top-right {
    max-width: 100px;
  }
}
@media (max-width: 620px) {
  .header__top-right > span {
    right: 0;
    height: 100%;
    width: 100%;
  }
  .header__top-right > span:after {
    content: "Sotial";
    position: absolute;
    top: 50%;
    right: 0%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    padding: 7px 20px;
    margin: 0 10px 0 0;
    background-color: #fff;
    border-radius: 5px;
    font-family: "Open Sans";
    font-size: 1.85em;
    font-weight: 700;
    color: #6d6e71;
  }
}
@media (max-width: 385px) {
  .header__top-right > span:after {
    content: "Sotial";
    padding: 8px 10px;
    margin: 0 5px 0 0;
    font-size: 1.3em;
  }
}
.header__top-right-sotials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media (max-width: 620px) {
  .header__top-right-sotials {
    display: none;
  }
  .header__top-right-sotials.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: -1;
    top: 100%;
    right: 0;
    max-width: 1000px;
    max-height: 1000px;
    background: #eceef4;
    border-radius: 0 0 0 20px;
  }
}
.header__top-right-sotial {
  border-left: 1px solid #dee0e6;
  padding: 0 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 620px) {
  .header__top-right-sotial.active {
    padding: 0 5px;
    border: none;
  }
}
.header__top-right-sotial > img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__top-right-sotial:hover {
  background-color: #8f8f8f86;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 3px solid #1fa9e0;
  border-top: 3px solid #1fa9e0;
  cursor: pointer;
}
.header__top-right-sotial:last-child {
  margin: 0 15px 0 0;
  border-right: 1px solid #dee0e6;
}
@media (max-width: 620px) {
  .header__top-right-sotial:last-child.active {
    margin: 0;
    border: none;
  }
}
.header__body {
  padding: 60px 0;
  border-bottom: 1px solid #eceef4;
}
.header__body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 490px) {
  .header__body-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__body-logo {
  position: relative;
}
.header__body-logo > img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__body-logo::after {
  content: "logo";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Open Sans";
  font-size: 2.9em;
  color: #3687c4;
}
.header__body-contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header__body-contact {
  padding: 0px 20px 0 20px;
  border-right: 1px solid #bcbec3;
}
.header__body-contact:hover {
  cursor: help;
}
.header__body-contact.address:hover::after {
  content: "";
  width: 15px;
  height: 10px;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #eceef4;
  position: absolute;
  top: -22px;
  left: 25px;
}
.header__body-contact.address:hover > div {
  display: block;
}
.header__body-contact.phone:hover::after {
  content: "";
  width: 15px;
  height: 10px;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #eceef4;
  position: absolute;
  top: -22px;
  left: 95px;
}
.header__body-contact.phone:hover > div {
  display: block;
}
.header__body-contact.mail:hover::after {
  content: "";
  width: 15px;
  height: 10px;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #eceef4;
  position: absolute;
  top: -22px;
  left: 163px;
}
.header__body-contact.mail:hover > div {
  display: block;
}
.header__body-contact.mail:hover:last-child {
  border: none;
}
.header__body-contacts-popup {
  display: none;
  position: absolute;
  top: -60px;
  right: 0;
  width: auto;
  min-width: 190px;
  padding: 0 15px;
  height: 40px;
  background: #eceef4;
  border: 2px solid #eceef4;
  border-radius: 5px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.15em;
  white-space: nowrap;
  line-height: 35px;
  font-weight: 300;
  color: #6d6e71;
}
.header__menu {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.header__menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 620px) {
  .header__menu-line > span {
    height: 100%;
    padding: 0px 20px;
    border-right: 1px solid #eceef4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .header__menu-line > span.active {
    pad: 0px 5px;
    background: #eceef4;
  }
  .header__menu-line > span:after {
    content: "Menu";
    font-family: "Open Sans";
    font-size: 0.94em;
    font-weight: 700;
    color: #6d6e71;
  }
  .header__menu-line > span:hover:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    width: 25px;
    height: 4px;
    background: #1faae2 no-repeat;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  .header__menu-line > span.active:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    width: 25px;
    height: 4px;
    background: #1faae2 no-repeat;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    -webkit-transform: rotate(90deg) translate(-50%, -150%);
            transform: rotate(90deg) translate(-50%, -150%);
  }
}
.header__menu-line-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 620px) {
  .header__menu-line-links {
    display: none;
  }
  .header__menu-line-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__menu-line-link {
  font-family: "Open Sans";
  font-size: 0.94em;
  font-weight: 700;
  color: #6d6e71;
  padding: 20px 20px;
  border-left: 1px solid #eceef4;
  position: relative;
}
.header__menu-line-link:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 35px;
  height: 8px;
  background: #1faae2 no-repeat;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
@media (max-width: 620px) {
  .header__menu-line-link:hover:after {
    width: 25px;
    height: 4px;
  }
}
.header__menu-line-link:hover > a {
  color: #1faae2;
}
@media (max-width: 830px) {
  .header__menu-line-link {
    padding: 15px 10px;
  }
}
@media (max-width: 620px) {
  .header__menu-line-link {
    padding: 10px 5px;
    font-size: 0.74em;
  }
}
@media (max-width: 350px) {
  .header__menu-line-link {
    padding: 12px 2px;
    font-size: 0.7em;
  }
}
.header__menu-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-search.d-active {
  display: none;
}
.header__menu-search-logo {
  margin: 0 10px 0 0;
}
.header__menu-search-logo > img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 600px) {
  .header__menu-search-logo > img {
    max-width: 20px;
    margin: 5px 0 0 0;
  }
}
.header__menu-search-input {
  font-family: "Open Sans";
  font-size: 1.05em;
  line-height: 1.9em;
  font-weight: 300;
  color: #6d6e71;
}

.block1__row {
  background: url("../../img/block1_background.png") no-repeat;
  background-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  background-size: 200% auto;
}
.block1__content {
  min-height: 885px;
}
@media (max-width: 1000px) {
  .block1__content {
    min-height: 600px;
  }
}
@media (max-width: 800px) {
  .block1__content {
    min-height: 500px;
  }
}
@media (max-width: 600px) {
  .block1__content {
    min-height: 400px;
  }
}
@media (max-width: 400px) {
  .block1__content {
    min-height: 300px;
  }
}