@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  list-style-type: none;
}

ul, li {
  list-style: none;
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input,
button,
a {
  background: none;
  color: #111;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
}

.header__top {
  background-color: #eceef4;
  height: 100%;
}
.header__top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top-left {
  padding: 10px 0;
}
.header__top-left-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__top-left-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 20px;
  margin: 0 10px 0 0;
  background-color: #fff;
  border-radius: 5px;
}
.header__top-left-link:last-child {
  margin: 0;
}
.header__top-left-link:hover {
  background-color: #90cae1;
}
.header__top-left-link-logo {
  margin: 0 5px 0 0;
}
.header__top-right-sotials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header__top-right-sotial {
  border-left: 1px solid #dee0e6;
  padding: 0 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top-right-sotial > img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__top-right-sotial:hover {
  background-color: #8f8f8f86;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 3px solid #1fa9e0;
  border-top: 3px solid #1fa9e0;
}
.header__top-right-sotial:last-child {
  margin: 0 15px 0 0;
  border-right: 1px solid #dee0e6;
}
.header__body {
  padding: 60px 0;
  border-bottom: 1px solid #eceef4;
}
.header__body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__body-logo {
  position: relative;
}
.header__body-logo > img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__body-logo::after {
  content: "logo";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Open Sans";
  font-size: 2.9em;
  color: #3687c4;
}
.header__body-contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header__body-contact {
  padding: 0px 20px 0 20px;
  border-right: 1px solid #bcbec3;
}
.header__body-contact.address:hover::after {
  content: "";
  width: 15px;
  height: 10px;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #eceef4;
  position: absolute;
  top: -22px;
  left: 25px;
}
.header__body-contact.address:hover > div {
  display: block;
}
.header__body-contact.phone:hover::after {
  content: "";
  width: 15px;
  height: 10px;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #eceef4;
  position: absolute;
  top: -22px;
  left: 95px;
}
.header__body-contact.phone:hover > div {
  display: block;
}
.header__body-contact.mail:hover::after {
  content: "";
  width: 15px;
  height: 10px;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #eceef4;
  position: absolute;
  top: -22px;
  left: 163px;
}
.header__body-contact.mail:hover > div {
  display: block;
}
.header__body-contact.mail:hover:last-child {
  border: none;
}
.header__body-contacts-popup {
  display: none;
  position: absolute;
  top: -60px;
  right: 0;
  width: auto;
  padding: 0 15px;
  height: 40px;
  background: #eceef4;
  border: 2px solid #eceef4;
  border-radius: 5px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.15em;
  white-space: nowrap;
  line-height: 35px;
  font-weight: 300;
  color: #6d6e71;
}
.header__menu {
  padding: 1% 0;
}
.header__menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu-line-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}