@import "null.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

input,
button,
a {
	background: none;
	color: #111;
}

.wrapper {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.container {
	max-width: 1165px;
	margin: 0 auto;

	@media (max-width: 920px) {
		// font-size: 0.8em;
	}

	@media (max-width: 850px) {
		// font-size: 0.7em;
	}

	@media (max-width: 830px) {
		// font-size: 0.6em;
	}
}

.header {
	&__content {

		@media (max-width:620px) {
			display: grid;
			grid-template-rows: repeat(3, auto);
		}
	}

	&__top {
		background-color: #eceef4;
		height: 100%;
		grid-row: 1/2;
		position: relative;
	}

	&__top-container {
		display: flex;
		justify-content: space-between;

		@media (max-width: 680px) {
			flex-direction: column;
			// justify-content: center;
			align-items: center;
		}
	}

	&__top-left {
		padding: 10px 0;
	}

	&__top-left-links {
		display: flex;
	}

	&__top-left-link {
		display: flex;
		align-items: center;
		padding: 7px 20px;
		margin: 0 10px 0 0;
		background-color: #fff;
		border-radius: 5px;
		font-family: 'Open Sans';
		font-size: 0.85em;
		font-weight: 700;
		color: #6d6e71;

		&:last-child {
			margin: 0;
		}

		&:hover {
			background-color: #90cae1;
			cursor: pointer;
		}

		@media (max-width:490px) {
			padding: 7px 10px;
		}

		@media (max-width:385px) {
			padding: 3px 5px;
		}
	}

	&__top-left-link-logo {
		margin: 0 5px 0 0;
	}

	&__top-left-link-text {}

	&__top-right {
		position: relative;
		width: 100%;
		min-height: 100%;
		display: flex;
		justify-content: end;

		@media (max-width: 680px) {
			display: flex;
			justify-content: center;
			padding: 8px 0;
		}
	}

	&__top-right-sotials {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__top-right-sotial {
		border-left: 1px solid #dee0e6;
		padding: 0px 15px;
		height: 100%;
		display: flex;
		align-items: center;
		min-height: 45px;

		&>img {
			max-width: 100%;
			height: 25px;
			object-fit: cover;
		}

		&:hover {
			background-color: #8f8f8f86;
			transition: 0.3s;
			border-bottom: 3px solid #1fa9e0;
			border-top: 3px solid #1fa9e0;
			cursor: pointer;
		}

		&:last-child {
			margin: 0 15px 0 0;
			border-right: 1px solid #dee0e6;
		}
	}

	&__body {
		padding: 60px 0;
		border-bottom: 1px solid #eceef4;

		@media (max-width: 680px) {
			padding: 15px 0;
		}
	}

	&__body-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		@media (max-width:680px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__body-logo {
		position: relative;

		&>img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}

		&::after {
			content: 'logo';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: 'Open Sans';
			font-size: 2.9em;
			color: #3687c4;
		}
	}

	&__body-contacts {}

	&__body-contacts-info {
		display: flex;
		position: relative;

		@media (max-width:680px) {
			padding: 20px 0 0 0;
			// justify-content: space-between;
			// min-width: 320px;
		}
	}

	&__body-contact {
		padding: 0px 20px 0 20px;
		border-right: 1px solid #bcbec3;

		&:last-child {
			border-right: none;
		}

		&:hover {
			cursor: help;
		}

		&.address:hover {
			&::after {
				content: '';
				width: 15px;
				height: 10px;
				clip-path: polygon(50% 100%, 0 0, 100% 0);
				background: #eceef4;
				position: absolute;
				top: -22px;
				left: 25px;

				@media (max-width: 690px) {
					top: 0px;
				}
			}

			&>div {
				display: block;
			}
		}

		&.phone:hover {
			&::after {
				content: '';
				width: 15px;
				height: 10px;
				clip-path: polygon(50% 100%, 0 0, 100% 0);
				background: #eceef4;
				position: absolute;
				top: -22px;
				left: 95px;

				@media (max-width: 690px) {
					top: 0px;
				}
			}

			&>div {
				display: block;
			}
		}

		&.mail:hover {
			&::after {
				content: '';
				width: 15px;
				height: 10px;
				clip-path: polygon(50% 100%, 0 0, 100% 0);
				background: #eceef4;
				position: absolute;
				top: -22px;
				left: 163px;

				@media (max-width: 690px) {
					top: 0px;
				}
			}

			&>div {
				display: block;
			}

			&:last-child {
				border: none;
			}
		}
	}

	&__body-contacts-popup {
		display: none;
		position: absolute;
		top: -60px;
		right: 0;
		width: auto;
		min-width: 190px;
		padding: 0 15px;
		height: 40px;
		background: #eceef4;
		border: 2px solid #eceef4;
		border-radius: 5px;
		text-align: center;
		font-family: 'Open Sans';
		font-size: 1.15em;
		white-space: nowrap;
		line-height: 35px;
		font-weight: 300;
		color: #6d6e71;
		z-index: 99;

		@media (max-width: 690px) {
			top: -40px;
		}
	}

	&__menu {
		grid-row: 3/4;
	}

	&__menu-container {
		display: flex;
		justify-content: space-between;
	}


	&__menu-line {
		display: flex;
		position: relative;

		@media (max-width:850px) {
			&>span {
				height: 100%;
				padding: 20px 20px;
				border-right: 1px solid #eceef4;
				display: flex;
				align-items: center;
				position: relative;

				&.active {
					padding: 20px 7px;
					background: #eceef4;
				}

				&:after {
					content: 'Menu';
					font-family: 'Open Sans';
					font-size: 0.94em;
					font-weight: 700;
					color: #6d6e71;
				}

				&:hover:before {
					content: '';
					position: absolute;
					bottom: 0;
					right: 50%;
					transform: translate(50%, 0%);
					width: 25px;
					height: 4px;
					background: #1faae2 no-repeat;
					clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
				}

				&.active:before {
					content: '';
					position: absolute;
					top: 50%;
					right: -12px;
					width: 30px;
					height: 4px;
					background: #1faae2 no-repeat;
					clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
					transform: rotate(90deg) translate(0%, 0%);
				}
			}
		}

		@media (max-width:630px) {
			&.active {
				min-width: 100%;
			}

			height: 53px;

			&>span.active {
				width: 100%;
				min-height: 100%;
				padding: 20px 0;
				border: none;

				&::after {
					position: absolute;
					left: 50%;
					transform: translate(-50%, 0%);
				}

				&::before {
					content: '';
					position: absolute;
					bottom: 0%;
					left: 50%;
					transform: rotate(180deg) translate(50%, -200%);
				}
			}
		}
	}

	&__menu-line-links {
		display: flex;

		@media (max-width:850px) {
			display: none;

			&.active {
				display: flex;

				@media (max-width: 630px) {
					position: absolute;
					top: 100%;
					flex-direction: column;
					background: #eceef4;
					min-width: 100%;
				}
			}
		}
	}

	&__menu-line-link {
		font-family: 'Open Sans';
		font-size: 0.94em;
		font-weight: 700;
		color: #6d6e71;
		padding: 20px 20px;
		border-left: 1px solid #eceef4;
		position: relative;
		white-space: nowrap;

		@media (max-width: 950px) {
			padding: 20px 10px;
		}

		&:hover:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0%);
			width: 35px;
			height: 8px;
			background: #1faae2 no-repeat;
			clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

			@media (max-width:850px) {
				width: 25px;
				height: 4px;
			}
		}

		&:hover>a {
			color: #1faae2;
		}

		@media (max-width: 850) {
			padding: 15px 20px;
		}

		@media (max-width: 720px) {
			padding: 0px 5px;
			display: flex;
			align-items: center;
		}

		@media (max-width: 630px) {
			margin: 0 0 15px 25px;

			&:hover:after {
				content: '';
				position: absolute;
				bottom: 4px;
				left: -15px;
				transform: rotate(90deg);
				width: 25px;
				height: 5px;
				background: #1faae2 no-repeat;
				clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
			}
		}
	}

	&__menu-search {
		display: flex;
		align-items: center;

		&.d-active {
			display: none;
		}
	}

	&__menu-search-logo {
		margin: 0 10px 0 0;

		&>img {
			max-width: 100%;
			height: auto;
			object-fit: cover;

			@media (max-width: 600px) {
				max-width: 20px;
				margin: 5px 0 0 0;
			}
		}

	}

	&__menu-search-input {
		font-family: 'Open Sans';
		font-size: 1.05em;
		line-height: 1.9em;
		font-weight: 300;
		color: #6d6e71;
	}
}

.body {}

.block1 {
	&__row {
		background: url("../img/block1_background.png") no-repeat;
		background-position: center;
		object-fit: contain;
		background-size: 200% auto;
	}

	&__content {
		min-height: 885px;

		@media (max-width: 1000px) {
			min-height: 600px;
		}

		@media (max-width: 800px) {
			min-height: 500px;
		}

		@media (max-width: 600px) {
			min-height: 400px;
		}

		@media (max-width: 400px) {
			min-height: 300px;
		}
	}
}

.container {}


.block2 {
	&__row {}

	&__content {}
}

.block3 {
	&__row {}

	&__content {}
}

.block4 {
	&__row {}

	&__content {}
}

.block5 {
	&__row {}

	&__content {}
}

.footer {
	&__row {}

	&__content {}
}


.header {
	// &__content {display: none;}
	// &__top-left {display: none;}
	// &__top-right {display: none;}
	// &__body {display: none;}
	// &__body-logo {display: none;}
	// &__body-contacts {display: none;}
	// &__menu {display: none;}
	// &__menu-container {display: none;}
	// &__menu-line {display: none;}
	// &__menu-search {display: none;}
}

.container {}

.span-sotial {}

.address {}

.phone {}

.mail {}

.span-menu {}