@import "null.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

input,
button,
a {
	background: none;
	color: #111;
}

.wrapper {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.container {
	max-width: 1165px;
	margin: 0 auto;

	@media (max-width: 920px) {
		font-size: 0.8em;
	}

	@media (max-width: 830px) {
		font-size: 0.6em;
	}
}

.header {
	&__content {

		@media (max-width:620px) {
			display: grid;
			grid-template-rows: repeat(3, auto);
		}
	}

	&__top {
		background-color: #eceef4;
		height: 100%;
		grid-row: 1/2;
		position: relative;
	}

	&__top-container {
		display: flex;
		justify-content: space-between;
	}

	&__top-left {
		padding: 10px 0;
	}

	&__top-left-links {
		display: flex;
	}

	&__top-left-link {
		display: flex;
		align-items: center;
		padding: 7px 20px;
		margin: 0 10px 0 0;
		background-color: #fff;
		border-radius: 5px;
		font-family: 'Open Sans';
		font-size: 0.85em;
		font-weight: 700;
		color: #6d6e71;

		&:last-child {
			margin: 0;
		}

		&:hover {
			background-color: #90cae1;
			cursor: pointer;
		}

		@media (max-width:490px) {
			padding: 7px 10px;
		}

		@media (max-width:385px) {
			padding: 3px 5px;
		}
	}

	&__top-left-link-logo {
		margin: 0 5px 0 0;
	}

	&__top-left-link-text {}

	&__top-right {
		position: relative;
		width: 100%;
		min-height: 100%;
		display: flex;
		justify-content: end;

		@media (max-width: 490px) {
			max-width: 100px;
		}

		@media (max-width:620px) {
			&>span {
				right: 0;
				height: 100%;
				width: 100%;

				&:after {
					content: 'Sotial';
					position: absolute;
					top: 50%;
					right: 0%;
					transform: translate(0%, -50%);
					padding: 7px 20px;
					margin: 0 10px 0 0;
					background-color: #fff;
					border-radius: 5px;
					font-family: 'Open Sans';
					font-size: 1.85em;
					font-weight: 700;
					color: #6d6e71;
				}
			}
		}

		@media (max-width:385px) {
			&>span {

				&:after {
					content: 'Sotial';
					padding: 8px 10px;
					margin: 0 5px 0 0;
					font-size: 1.3em;

				}
			}
		}
	}

	&__top-right-sotials {
		display: flex;
		align-items: center;
		height: 100%;

		@media (max-width:620px) {
			display: none;

			&.active {
				display: flex;
				transition: 0.5s;
				position: absolute;
				justify-content: center;
				align-items: center;
				z-index: -1;
				top: 100%;
				right: 0;
				max-width: 1000px;
				max-height: 1000px;
				background: #eceef4;
				border-radius: 0 0 0 20px;
			}
		}
	}

	&__top-right-sotial {
		border-left: 1px solid #dee0e6;
		padding: 0 15px;
		height: 100%;
		display: flex;
		align-items: center;

		@media (max-width:620px) {
			&.active {
				padding: 0 5px;
				border: none;
			}
		}



		&>img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}

		&:hover {
			background-color: #8f8f8f86;
			transition: 0.3s;
			border-bottom: 3px solid #1fa9e0;
			border-top: 3px solid #1fa9e0;
			cursor: pointer;
		}

		&:last-child {
			margin: 0 15px 0 0;
			border-right: 1px solid #dee0e6;

			@media (max-width:620px) {
				&.active {
					margin: 0;
					border: none;
				}
			}
		}
	}

	&__body {
		padding: 60px 0;
		border-bottom: 1px solid #eceef4;
	}

	&__body-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		@media (max-width:490px) {
			flex-direction: column;
		}
	}

	&__body-logo {
		position: relative;

		&>img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}

		&::after {
			content: 'logo';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: 'Open Sans';
			font-size: 2.9em;
			color: #3687c4;
		}
	}

	&__body-contacts {}

	&__body-contacts-info {
		display: flex;
		position: relative;
	}

	&__body-contact {
		padding: 0px 20px 0 20px;
		border-right: 1px solid #bcbec3;

		&:hover {
			cursor: help;
		}

		&.address:hover {
			&::after {
				content: '';
				width: 15px;
				height: 10px;
				clip-path: polygon(50% 100%, 0 0, 100% 0);
				background: #eceef4;
				position: absolute;
				top: -22px;
				left: 25px;
			}

			&>div {
				display: block;
			}
		}

		&.phone:hover {
			&::after {
				content: '';
				width: 15px;
				height: 10px;
				clip-path: polygon(50% 100%, 0 0, 100% 0);
				background: #eceef4;
				position: absolute;
				top: -22px;
				left: 95px;
			}

			&>div {
				display: block;
			}
		}

		&.mail:hover {
			&::after {
				content: '';
				width: 15px;
				height: 10px;
				clip-path: polygon(50% 100%, 0 0, 100% 0);
				background: #eceef4;
				position: absolute;
				top: -22px;
				left: 163px;
			}

			&>div {
				display: block;
			}

			&:last-child {
				border: none;
			}
		}
	}

	&__body-contacts-popup {
		display: none;
		position: absolute;
		top: -60px;
		right: 0;
		width: auto;
		min-width: 190px;
		padding: 0 15px;
		height: 40px;
		background: #eceef4;
		border: 2px solid #eceef4;
		border-radius: 5px;
		text-align: center;
		font-family: 'Open Sans';
		font-size: 1.15em;
		white-space: nowrap;
		line-height: 35px;
		font-weight: 300;
		color: #6d6e71;

	}

	&__menu {
		grid-row: 3/4;
	}

	&__menu-container {
		display: flex;
		justify-content: space-between;
	}


	&__menu-line {
		display: flex;

		@media (max-width:620px) {
			&>span {
				height: 100%;
				padding: 0px 20px;
				border-right: 1px solid #eceef4;
				display: flex;
				align-items: center;
				position: relative;

				&.active {
					pad: 0px 5px;
					background: #eceef4;
				}
				&:after {
					content: 'Menu';
					font-family: 'Open Sans';
					font-size: 0.94em;
					font-weight: 700;
					color: #6d6e71;
				}

				&:hover:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translate(-50%, 0%);
					width: 25px;
					height: 4px;
					background: #1faae2 no-repeat;
					clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
				}

				&.active:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translate(-50%, 0%);
					width: 25px;
					height: 4px;
					background: #1faae2 no-repeat;
					clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
					transform: rotate(90deg) translate(-50%, -150%);
				}
			}
		}
	}

	&__menu-line-links {
		display: flex;

		@media (max-width:620px) {
			display: none;

			&.active {
				display: flex;
			}
		}
	}

	&__menu-line-link {
		font-family: 'Open Sans';
		font-size: 0.94em;
		font-weight: 700;
		color: #6d6e71;
		padding: 20px 20px;
		border-left: 1px solid #eceef4;
		position: relative;

		&:hover:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0%);
			width: 35px;
			height: 8px;
			background: #1faae2 no-repeat;
			clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

			@media (max-width:620px) {
				width: 25px;
				height: 4px;
			}
		}

		&:hover>a {
			color: #1faae2;
		}

		@media (max-width: 830px) {
			padding: 15px 10px;
		}
		@media (max-width: 620px) {
			padding: 10px 5px;
			font-size: 0.74em;
		}
		@media (max-width: 350px) {
			padding: 12px 2px;
			font-size: 0.7em;
		}
	}

	&__menu-search {
		display: flex;
		align-items: center;

		&.d-active {
			display: none;
		}
	}

	&__menu-search-logo {
		margin: 0 10px 0 0;
		&>img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
			@media (max-width: 600px) {
				max-width: 20px;
				margin: 5px 0 0 0;
			}
		}
		
	}

	&__menu-search-input {
		font-family: 'Open Sans';
		font-size: 1.05em;
		line-height: 1.9em;
		font-weight: 300;
		color: #6d6e71;
	}
}

.body {}

.block1 {
	// position: relative;
	// &__background {
	// 	position: absolute;
	// 	z-index: -1;
	// 	&>img {
	// 		width: 100%;
	// 		height: auto;
	// 		max-height: 885px;
	// 		object-fit: cover;
	// 	}
	// }
	&__row {
		background: url("../img/block1_background.png") no-repeat;
		background-position: center;
		object-fit: contain;
		background-size: 200% auto;
	}
	&__content {
		min-height: 885px;
		@media (max-width: 1000px) {
			min-height: 600px;
		}
		@media (max-width: 800px) {
			min-height: 500px;
		}
		@media (max-width: 600px) {
			min-height: 400px;
		}
		@media (max-width: 400px) {
			min-height: 300px;
		}
	}
}
.container {
}


.block2 {
	&__row {}

	&__content {}
}

.block3 {
	&__row {}

	&__content {}
}

.block4 {
	&__row {}

	&__content {}
}

.block5 {
	&__row {}

	&__content {}
}

.footer {
	&__row {}

	&__content {}
}

